

.cardsFlexMascotas{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 7rem;
    /* overflow-x: auto; */
}

.cardBoxMascota{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap:0.7rem;
    z-index: 0;
    margin-left: 1.5rem;
    max-height: fit-content;
    
}

@media only screen and (max-width:860px){
    .cardsFlexMascotas{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        gap: 1rem;
        overflow-x: auto;
        
    }
    .cardBoxMascota{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        gap:0.7rem;
        z-index: 0;
        margin-left: 1.5rem;
        max-height: fit-content;
        
    }
    ::-webkit-scrollbar {
        display:none;
        
    }
    
}

